/node_modules
.env
public/backup_assets
/vendor
public/storage

public/wp-content
public/wp-includes
public/wp-admin
public/uploads
public/wp-*
public/xmlrpc.php
/.DS_Store
storage/secrets/*.key
storage/uploads/videos/originals/*
!public/teachers
storage/uploads/videos/
!storage/app/public/wink
storage/app/public/videos
storage/app/chunks/*.part
storage/uploads/videos
public/hot
.vscode
.idea
public/build
public/build/*
